<a href="https://colab.research.google.com/github/h0w4rds/brief-analysis/blob/main/Copy_of_Randomization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Randomization in R**

Randomly assign experimental units to treatments for a simple A/B test.

# **Database of Subjects**

To test out an email marketing campaignwith an existing list, a group is randomly sampled into two groups. Random subsets will are utilized.

In [1]:
library("readxl")
df<-read_excel("sample_data/class list.xlsx")
head(df)
nrow(df)

  Name             Email
1 Beerman, Jack    beermajt@miamioh.edu
2 Burck, Anders    burckaa2@miamioh.edu
3 Cain, Ethan      cained@miamioh.edu
4 Clisham, Michael clishamj@miamioh.edu
5 DiPuccio, Oliver dipuccor@miamioh.edu
6 Khanna, Dillon   khannadf@miamioh.edu

[1] 67

Half of the of the customer base is randomly sampled.

In [20]:
set.seed(13) # always use same integer for replicability; integer is not significant, replicability is
index<-sample(1:nrow(df), size=33) 
index # vector of row numbers to be included within the sample

 [1]  3 64  6 48 22  4 29 60 56 51 17 42 15 23  5 12 49 32 50 47 57 11 62 54 14
[26] 67 31 59 53 45 30  2  1

The database is subsetted accordingly.

In [6]:
selected<-df[index,] # each row is an entry; each row selected is a selected customer
head(selected)
dim(selected)

  Name              Email
1 Cain, Ethan       cained@miamioh.edu
2 Schechtman, Carly schechcd@miamioh.edu
3 Khanna, Dillon    khannadf@miamioh.edu
4 Ahyi, Yoann-Axel  ahyiya@miamioh.edu
5 Reed, Kyle        reedkj2@miamioh.edu
6 Clisham, Michael  clishamj@miamioh.edu

[1] 33  2

Half of selected folks are assigned to each (A, B) group.

In [16]:
set.seed(13)
index <- sample(1:nrow(selected), size = 16)
A <- selected[index,]
B <- selected[-index,] # all rows not in index

A, B counts.

In [17]:
nrow(A)
nrow(B)

[1] 16

[1] 17

# **Visits from a Stream**

Use a random binomial generator to generate random assignment.

In [18]:
set.seed(13)
p=0.5 # proportion of visitors to sample
page<-rbinom(200, 1, p)
page

  [1] 1 0 0 0 1 0 1 1 1 0 1 1 1 1 1 0 0 1 1 1 0 1 1 1 0 1 0 0 0 1 0 0 1 1 1 0 0
 [38] 0 1 0 1 0 1 1 1 1 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0
 [75] 0 1 0 0 0 1 1 0 1 0 1 1 1 0 0 1 0 1 0 1 0 0 1 1 1 1 1 1 1 1 0 0 0 0 1 1 0
[112] 0 0 0 1 0 1 0 1 1 0 0 1 1 0 0 0 0 1 1 0 1 0 0 1 1 1 1 0 0 0 0 0 1 0 1 0 1
[149] 1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 1 0 1 0 1 1 1 0 1 1 0 0 0 1 0 1 0 1 0 0 1 0
[186] 1 0 1 0 1 0 0 0 0 1 1 1 1 1 0

A, B entry counts.

In [15]:
nrow(A)
nrow(B)

[1] 16

[1] 17

1 -> A, 0 -> B.

One-line random generation of uniform distribution deviations.

In [19]:
runif(1)

[1] 0.3559995